@import "components/base.css";

@import "components/layout.css";
@import "components/icons.css";

@import "components/sidebar.css";
@import "components/header.css";
@import "components/buttons.css";
@import "components/backlog.css";
@import "components/task-table.css";
@import "components/kanban.css";
@import "components/task-card.css";
@import "components/badges.css";
@import "components/pagination.css";
@import "components/add-task-form.css";
@import "components/delete-button.css";
@import "components/confirm-dialog.css";
@import "components/home.css";
@import "components/assignees.css";

@import "components/responsive.css";

@font-face {
  font-family: "Ubuntu";
  src: url("../styles/font/Ubuntu-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../styles/font/Ubuntu-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "Ubuntu", Arial, sans-serif;
}
